/* line 6, ../sass/style.sass */
body {
  font-family: "Helvetica Neue";
  font-weight: 200;
  background-color: #f2f2f2;
  margin: 0;
  font-size: 14px;
  line-height: 1.3em;
}

/* line 13, ../sass/style.sass */
#bp-example {
  display: block;
  position: relative;
  width: 75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 20px 30px;
}

/* line 19, ../sass/style.sass */
section {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23, ../sass/style.sass */
.separator {
  display: block;
  position: relative;
  border-top: 1px dotted #888888;
  margin: 20px 0;
  width: 100%;
}

/* line 29, ../sass/style.sass */
ul li {
  margin-bottom: 5px;
}

/* line 31, ../sass/style.sass */
strong {
  color: red;
}

/* line 33, ../sass/style.sass */
a {
  text-decoration: none;
  color: #0088cc;
}
/* line 36, ../sass/style.sass */
a:hover {
  text-decoration: underline;
}
